// .container-home{
//     display:flex;
//     align-items: center;
//     text-align: center;
// }
    .intro {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.featureone{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.text-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature img{
    width:380px;
}
.featuretwo{
    display:flex;
    text-align: center;
}
.featuretwoimg{
    width:380px;
}
