.button{
    display: block;
    background-color: #aafcb8;
    cursor: pointer;
    width: 220px;
    height: 35px;
    font-size: 2rem;
    border-radius: 10px;
    color:white;
    text-align:center;
}